# Flask and related dependencies
Flask==2.3.3
Flask-Cors==3.0.10
Flask-PyMongo==2.3.0

# Data handling
pandas==2.1.0
numpy==1.26.0

# Machine learning and preprocessing
scikit-learn==1.4.0
xgboost==1.7.6
prophet==1.1.3   # For time-series forecasting
joblib==1.4.0

# MongoDB interaction
pymongo==4.5.1

# Scheduling and automation
schedule==1.2.0

# API interaction
requests==2.31.0
httpx==0.25.0

# Logging
loguru==0.7.1

# Development and debugging
ipython==8.16.0
black==23.9.1
